.viewport {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.content {
        max-width: 409px;
}

.title {
    margin: 26px 0 0 16px;
    font-size: 70px;
    max-width: 295px;
}

.introduction {
    margin: 70px 0 0 16px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.paragraph {
    margin-bottom: 1rem;
    font-weight: 500;
}
.goodspeed {
    font-weight: 700;
}

.credits {    
    font-size: 15px;
    margin: auto auto 7px 16px;
    font-weight: 500;
    color: #ffffff;
}

.footer {
        align-self: flex-start;

}