.viewport {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
}

.title {
    font-size: 70px;
    max-width: 295px;
}

.introduction {
    font-size: 15px;
    max-width: 409px;
    display: flex;
    flex-direction: column;
}
.paragraph {
    margin-bottom: 1rem;
    font-weight: 500;
}
.goodspeed {
    font-weight: 700;
}

.credits {    
    font-size: 15px;
    margin: auto auto 7px 16px;
    font-weight: 500;
    color: #ffffff;
}